.title {
    color: white;
}

.pagina-cliente {
    header {
        display: flex;
        justify-content: space-between;
    }

    .header-actions {
        display: flex;
        gap: 20px;
    }
}
