:root {
    --pico-font-size: 100%;
    --pico-modal-overlay-backdrop-filter: unset;
}

.crud-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;

    button {
        width: 50px;
    }
}

.gridjs-head {
    display: flex;
    justify-content: space-between;

    &::after {
        content: unset;
    }

    button {
        background-color: var(--bs-btn-bg);
        color: var(--bs-btn-color);
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        width: 50px;

        &:hover {
            background-color: var(--bs-btn-hover-bg);
        }
    }
}