:root {
    --pico-font-size: 100%;
    --pico-modal-overlay-backdrop-filter: unset;
}

.crud-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;

    button {
        width: 50px;
    }
}

.gridjs-head {
    display: flex;
    justify-content: space-between;

    &::after {
        content: unset;
    }

    button {
        width: 50px;
        background-color: var(--pico-primary);
    }
}
